@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Regular.woff2") format("woff2"),
        url("./fonts/Roboto-Regular.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    font-family: "Roboto";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-body,
.projects,
.cards {
    min-height: 0;
    min-width: 0;
}

.grid-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, minmax(0,1fr));
    grid-template-rows: repeat(6, minmax(0,1fr));
}

.sidebar-container {
    padding: 1em;
    grid-column: 1/2;
    grid-row: 1/7;
    background-color: #1992d4;
    color: white;
}

.views,.lists{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.view,.list{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.list:hover{
    transform:translate(1em);
}
.list:active{
    transform: scale(1.05);
}

.header-container{
    grid-column: 2/7;
    grid-row: 1/2;
}
.header {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 0.5em 2em 0 2em;
    position: relative;
}

.todayDate{
    font-weight: bold;
    font-size: 1.1em;
}
.sidebar .title>img {
    width: 3em;
    height: 3em;
    margin: 0.5em;
    margin-left: 1em;
}


.sidebar .title {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.search-bar {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0.3em;
}

.actions {
    grid-row: 2/4;
    display: flex;
    justify-content: space-between;
}

.search {
    grid-column: 1/4;
}

.todayDate{
    grid-column: 5/6;
}

.todayDate div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    margin-right: 1em;
}

.search>img {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}


.actions img {
    width: 3em;
    height: 3em;
    vertical-align: middle;
    margin: 0.5em;
}

input {
    background-color: #e0e6ee;
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    width: 80%;
    font-size: 1em;
}

.buttons {
    display: flex;
    margin-top: 1em;
    gap: 1em;
}

.buttons button {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 1.5em;
    background-color: #1992d4;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.buttons button:hover,.newTaskBtn:hover {
    background-color: #0d628f;
}

.buttons button:active, .newTaskBtn:active {
    transform: scale(1.1);
}

.greet {
    margin-top: 0.5em;
    display: flex;
    font-weight: bold;
}

.greet span {
    font-size: 1em;
}

.greet p {
    margin-top: 0.5em;
}

.main-body {
    grid-column: 2/7;
    grid-row: 2/7;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #e0e6ee;
}

.projects {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(9,1fr);
}

.active-project{
    grid-row:1/2;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    grid-row: 2/10;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 0.5em;
}

.card{
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1em;
    box-sizing: border-box;
    position: relative;
    border-radius: 1em;
    margin:1em 1em 0em 1em;
    background-color: white;
}

.card:hover{
    transform: scale(1.02);
}

.card.high{
    border-left:1em red solid;
}
.card.low{
    border-left: 1em yellow solid;
}
.card.default{
    border-left: 1em  #1992d4 solid;
}
.card div.titleBox{
    display: flex;
    align-items: center;
    gap: 1em;
}

.newTaskBtn{
    background-color:#1992d4;
    color: white;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: none;
    font-weight: 900;
    font-size: 2em;
    cursor: pointer;
}

.newTask{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.detailDialog{
    height: 50vh;
    width: 30vw;
    margin:auto;
    border: none;
    border-radius: 2em;
    padding: 2em;
    font-size: 1.2em;
}

.detailFlex{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detailDialog h2{
    text-align: center;
}

.detailDialog .btnDiv{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detailDialog .btnDiv button, 
.formDialog button,
.editTaskDialog button{
    width: 6em;
    height: 2em;
    border-radius: 0.5em;
    background-color:#1992d4;
    cursor: pointer;
    color: white;
    font-size: 0.9em;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
}

.detailDialog button:focus-visible {
    outline: 2px solid #0d628f;
    outline-offset: 2px;
}

.detailDialog button:hover,
.formDialog button:hover,
.editTaskDialog button:hover{
    background-color: #0d628f;
}

.detailDialog button:active,
.formDialog button:active,
.editTaskDialog button:active{
    transform: scale(1.05);
}

.formDialog, 
.editTaskDialog{
    height: 60vh;
    width: 40vw;
    margin:auto;
    border: none;
    border-radius: 2em;
    padding: 2em;
    font-size: 1.1em;
}

.formDialog form,
.editTaskDialog form{
    display: flex;
    flex-direction: column;
    gap:0.5em;
}

.formDialog .form-row,
.editTaskDialog .form-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-row .priority{
    display: flex;
    align-items: center;
    gap: 3em;
    justify-content: flex-start;
    margin-right:12em;
}

.priority div{
    display: flex;
    gap: 1em;
}

form .status{
    display: grid;
    grid-template-columns: 8em 2em;
    align-items: center;
}

.formDialog form button,
.editTaskDialog form button{
    align-self: flex-end;
}

.editTaskDialog form button{
    height: 3em;
    width: 8em;
}


